In [10]:
import pandas as pd

#data = {"Name" : ["Vasanth" , "Joe" , "Santhosh" , "Kalvin"],
 #       "Age"  : [42 , 42 , 44 , 37],
  #      "Location" :["India" , "US" ,"UK" ,"India"],
   #     "Salary"   :[12000 , 10000 , 9000,14000]}


#print the above data in data frame
#df = pd.DataFrame(data)
#print(df)

# reading a csv file

#HR_Data = pd.read_csv("C:/Family/1.Mahesh/3.Training/02.Python/HR_comma_sep.csv")

#print(HR_Data.head(100))
#print(HR_Data.tail(100))

HR_Data = pd.read_excel("C:/Family/1.Mahesh/3.Training/02.Python/HR_comma_sep.xls")

#print(HR_Data.head(10))
print(HR_Data.tail(10))

       satisfaction_level  last_evaluation  number_project  \
14989                0.43             0.57               2
14990                0.89             0.88               5
14991                0.09             0.81               6
14992                0.40             0.48               2
14993                0.76             0.83               6
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
14989                   159                   3              1     1
14990                   228                   5              1     1
14991                   257                   4              0     1
14992                   155                   3              0     1
14993                   293                   6              0     1
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years      sales salary
14989                      0  technical    low
14990                      0    support    low
14991                      0    support    low
14992                      0    support    low
14993                      0    support    low
14994                      0    support    low
14995                      0    support    low
14996                      0    support    low
14997                      0    support    low
14998                      0    support    low