In [57]:
import pandas as pd
import numpy as np

#data = {"Name" : ["Vasanth" , "Joe" , "Santhosh" , "Kalvin"],
 #       "Age"  : [42 , 42 , 44 , 37],
  #      "Location" :["India" , "US" ,"UK" ,"India"],
   #     "Salary"   :[12000 , 10000 , 9000,14000]}


#print the above data in data frame
#df = pd.DataFrame(data)
#print(df)

# reading a csv file

#HR_Data = pd.read_csv("C:/Family/1.Mahesh/3.Training/02.Python/HR_comma_sep.csv")

#print(HR_Data.head(100))
#print(HR_Data.tail(100))

HR_Data = pd.read_excel("C:/Family/1.Mahesh/3.Training/02.Python/HR_comma_sep.xls")

#print(HR_Data.head(10))
#print(HR_Data.tail(10))

#data information
#print (HR_Data.info() )

In [58]:
#describe mean , median , mode.
#print(HR_Data.describe())

In [59]:
#any nulls
#print(HR_Data.isnull().sum())

#duplicate data
#print(HR_Data.duplicated())

#print(HR_Data["promotion_last_5years"].duplicated().sum())
#   print(HR_Data.drop_duplicates("promotion_last_5years"))


#dropping duplicates
#print(HR_Data.drop_duplicates())

#replacing
#print(HR_Data.tail(10))
#print(HR_Data.replace(0.38 , 0.388))

In [60]:
#column Transformation

HR_Data = pd.read_excel("C:/Family/1.Mahesh/3.Training/02.Python/HR_comma_sep.xls")
HR_Data.loc[(HR_Data["satisfaction_level"] < 0.5) , "Employee_Satisfaction_Level"] = "NOT HAPPY"
HR_Data.loc[(HR_Data["satisfaction_level"] > 0.5) , "Employee_Satisfaction_Level"] = "IS HE HAPPY"
print(HR_Data)

       satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
...                   ...              ...             ...
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
...                     ...                 ...            ...   ...
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years    sales  salary Employee_Satisfaction_Level
0                          0    sales     low                   NOT HAPPY
1                          0    sales  medium                         NaN
2                          0    sales  medium                   NOT HAPPY
3                          0    sales     low                         NaN
4                          0    sales     low                   NOT HAPPY
...                      ...      ...     ...                         ...
14994                      0  support     low                   NOT HAPPY
14995                      0  support     low                   NOT HAPPY
14996                      0  support     low                   NOT HAPPY
14997                      0  support     low                   NOT HAPPY
14998                      0  support     low                   NOT HAPPY

[14999 rows x 11 columns]